body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin-bottom: 20px;
}

.header h1 {
  font-size: 26px;
  color: #131d24;
  text-align: center;
  display: block; 
  margin: 0 auto; 
  margin-top: 30px;
}


.back-btn {
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-btn:hover {
  background-color: #e0e0e0;
}

.form-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  width: 600px;
  margin-top: 30px;
}

.form-card form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-card label {
  font-weight: bold;
  color: #333;
}

.form-card input[type="file"],
.form-card select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.form-card .info-text {
  font-size: 12px;
  color: #666;
  margin-bottom: 10px;
}

.upload-btn {
  background-color: #1f2134;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.upload-btn:hover {
  background-color: #1a1566;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
